[project]
	description = A simple training tracker in Python
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Paul (wowsuchnamaste)
[access "refs/for/refs/*"]
	read = group user/Paul (wowsuchnamaste)
	push = group user/Paul (wowsuchnamaste)
	label-Code-Review = -2..+2 group user/Paul (wowsuchnamaste)
	label-Verified = -1..+1 group user/Paul (wowsuchnamaste)
	rebase = group user/Paul (wowsuchnamaste)
	removeReviewer = group user/Paul (wowsuchnamaste)
	submit = group user/Paul (wowsuchnamaste)
[access "refs/heads/*"]
	read = group user/Paul (wowsuchnamaste)
	create = group user/Paul (wowsuchnamaste)
	push = +force group user/Paul (wowsuchnamaste)
	pushMerge = group user/Paul (wowsuchnamaste)
[access "refs/tags/*"]
	push = group user/Paul (wowsuchnamaste)
	push = +force group user/Paul (wowsuchnamaste)
